/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 12:08:28 PM
    Author     : adribuc
*/

@media all and (min-width:1100px){
    body {
      font-size: 16px;
      
    }
    
    .input {
        height: 20px;
        font-size: 14px;
    }
    .header {
        font-size: 35px;
        font-weight: 800;
    }
}



@media all and (max-width:1100px) and (min-width:600px){
     
 body {
      font-size: 14px;
     
    }
    
    .input {
        height: 15px;
        font-size: 12px;
    }
    .header {
        font-size: 30px;
    }
    }
    @media all and (max-width:600px) and (min-width:400px){
     
 body {
      font-size: 12px;
      
    }
    
    .input {
        height: 12px;
        font-size: 10px;
    }
    .header {
        font-size: 25px;
    }
    
    
    }
    
    @media all and (max-width:400px) {
        body {
      font-size: 10px;

    }
    
    .input {
        height: 10px;
        font-size: 9px;
    }
    .header {
        font-size: 20px;
    }
    }
    
    table {
        font-size:calc(10px + 0.7vw);
        
    }
    body {
       font-family: 'Montserrat', sans-serif;
       
       
       
    }
    
    section {
      
      height: 100%;
      margin: 0 auto;
      margin-top: 10px;
      padding: 15px;
      padding-top: 5px;
      border-radius: 10px 10px 10px 10px;
    }
    fieldset {
      clear: left;
      border: 0px;
      border-bottom: 1px solid #eee;
      padding: 10px;
      height: 100%;
    }
    label {
      font-weight: bold;
      width: 100px;
      float: left;
    }
    textarea {
      border: 1px solid #c0c0c0;
      border-radius: 5px 5px 5px 5px;
      padding: 4px;
      width: 250px;
      color: black;
      float: left;
    }
    button {
      
      border: 1px solid #ccc;
      padding: 10px;
      color: #444;
    }
     
    .note {
      
      font-style: italic;
    }
    .noBottomBorder {
      border: 0;
    }
    .privacy {
        width: 100%;
        
        
    }
    .input {
        border: 1px solid #c0c0c0;
      border-radius: 5px 5px 5px 5px;
      padding: 4px;
      width: 70%;
      color: black;
     float: right;
      
    }
    .header {
        list-style-type: none;
        background-color: #1F3284;
        color: white;
        border-radius: 10px 10px 10px 10px; 
       
        
    }
    
        .immagine {
            width: 50%;
            height: 50%;
            max-height: 100px;
            min-height: 100px;
        }
        
        #tessere {
           border-top: #eee solid thin; 
           margin-bottom: 10px; 
        }
        
        .column1 {
            padding-top: 10px;
            width: 50%;
            float:left;
            padding-bottom: 10px;
        }
        .column2 {
            padding-top: 10px;
            width: 50%;
            float: right;
            padding-bottom: 10px;
        }
        .column3 {
            width: 60%;
            padding-top: 1320px;
            align-content: center; 
        }
        .column4 {
            width: 60%;
            align-content: center;
        }
        
        #commenti {
        width: 60%;
    }
        @media screen and (max-width: 950px) {
            .column1{
                width: 100%;
                float: none;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
            }
            .column2 {
                margin-top: 10px;
                width: 100%;
                float: none;
            }
            .column3 {
                padding-top: 10px;
                width: 80%;
                float: none;
               
            }
            .column4 {
                margin-top: 10px;
                width: 80%;
                float: none;
            }
            
    
    #video {
        width: 100%;
        height: 100%;
    }
     #canvas {
        width: 100%;
        height: 100%;
    }
    
    
    #immagine {
        width: 100%;
        height: 100%;
    }
    }
        
        
        .columns {
        width: 80%;
    }
        

.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    
    
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border-radius: 10px 10px 10px 10px;
}

.price .header {
    background-color: #1F3284;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

.price li {
    border-bottom: 1px solid #eee;
    
    padding: 20px;
    text-align: center;
    
    margin-bottom: 5px;
    margin-top 5px;
    
    
    
}

.price .grey {
    background-color: #1F3284;
    
    border-radius: 10px 10px 10px 10px;
}

.button {
    background-color: #1F3284;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
   
    border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 80%;
        align-content: center;
    }
}

.testo {
    
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tipologia {
    float: left;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    width: 70%;
    
}
.tipologia:hover {
    overflow: visible;
}

.selezione {
    width: 10%
}

.prezzo {
    float: right;
    width: 30%;
    font-weight: bold;
    
}
.height1 {
    height: 60px;
}

#colore1 {
    color: #ccc;
}

#colore2 {
   color: #0099ff;
}


label {
    width: 20%;
}


    
    .gray {
        color: gray;
    }
    
    .camcontent{
            display: block;
            position: relative;
            overflow: hidden;
            height: 480px;
            margin: auto;
        }
        .cambuttons button {
            border-radius: 15px;
           
        }
        .cambuttons button:hover {
            cursor: pointer;
            border-radius: 15px;
            background: #00dd00 ;    /* green */
        }
        
        .bottone{
            font-size:calc(10px + 0.7vw);
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        color:#FFFFFF;
        background-color:#1F3284;
        text-align:center;
        transition: all 0.2s;
        height: 40px;
        min-width: 100px;
       
        
        }
    .bottone:hover{
     background-color: #FFFFFF;
     color: #1F3284;
    }
    @media all and (min-width:500px){
     .bottone {
      display:black;
      margin:0.2em auto;
      width: 40%;
     }
    }
    @media all and (max-width:500px){
     .bottone {
      display:black;
      margin:0.2em auto;
      width: 80%;
     }
    }


     
.square {
    border: solid darkgray thin;
    margin: 100px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    
}

.foto {
    width: 100%;
    max-width: 95px;
    max-height: 95px;
    border-radius: 10px 10px 10px 10px;
}


.column5 {
    
    align-content: center;
    border-bottom: solid gainsboro thin; 
    padding-top: 5px;
    padding-bottom: 5px;
}

#foto {
    width: 20%;
}
#tipo {
    width: 10%;
}

#dati {
    width: 30%;
}

#importo {
   width: 10%; 
    
}

#elimina {
   width: 20%; 
}

#tot_articoli {
    width: 30%;
}

#tot_cauzione {
    width: 30%;
}

#tot_importo {
    width: 30%;
}
        

@media screen and (max-width: 900px) {
    .column5 {
        width: 100%;
        
    }
    
    .square {
        margin: 0px;
        margin-top: 10px;
}

.foto {
    margin-left: 0;
}

#foto {
    width: 30%;
}
#tipo {
    width: 0;
}

#dati {
    width: 30%;
}

#importo {
   width: 10%; 
    
}

#elimina {
   width: 20%; 
}
}


/*modal*/


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.chiudi {
	background: #1F3284;
        border: #FFFFFF solid thin;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.chiudi:hover { background: #00d9ff; }